@charset "UTF-8";
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-googeplus:before, .icon-moovweblogo:before, .main-header-logo:before, .blog-logo:before, .icon-wifi:before, .icon-twitter:before, .icon-speechbubble:before, .icon-speech:before, .icon-rocket:before, .icon-linkedin:before, .icon-lightning:before, .icon-facebook:before, .icon-clipboard:before, .icon-round-wifi:before, .category-icon-news:before, .icon-round-twitter:before, .icon-round-speechbubble:before, .category-icon-oped:before, .icon-round-speech:before, .icon-round-rocket:before, .category-icon-launch:before, .icon-round-linkedin:before, .icon-round-lightning:before, .icon-round-facebook:before, .icon-round-clipboard:before, .icon-round-googleplus:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-moovweblogo:before, .main-header-logo:before, .blog-logo:before {
  content: "\e000"; }

.icon-round-googleplus:before {
  content: "\e001"; }

.icon-googeplus:before {
  content: "\e002"; }

.icon-wifi:before {
  content: "\e003"; }

.icon-twitter:before {
  content: "\e004"; }

.icon-speechbubble:before {
  content: "\e005"; }

.icon-speech:before {
  content: "\e006"; }

.icon-rocket:before {
  content: "\e007"; }

.icon-linkedin:before {
  content: "\e008"; }

.icon-lightning:before {
  content: "\e009"; }

.icon-facebook:before {
  content: "\e00a"; }

.icon-clipboard:before {
  content: "\e00b"; }

.icon-round-wifi:before, .category-icon-news:before {
  content: "\e00c"; }

.icon-round-twitter:before {
  content: "\e00d"; }

.icon-round-speechbubble:before, .category-icon-oped:before {
  content: "\e00e"; }

.icon-round-speech:before {
  content: "\e00f"; }

.icon-round-rocket:before, .category-icon-launch:before {
  content: "\e010"; }

.icon-round-linkedin:before {
  content: "\e011"; }

.icon-round-lightning:before {
  content: "\e012"; }

.icon-round-facebook:before {
  content: "\e013"; }

.icon-round-clipboard:before {
  content: "\e014"; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
.pressroom-image {
  max-width: 100%;
  height: auto; }

.pressroom-side-wrapper {
  height: 40px;
  width: 80px;
  float: left;
  margin: 0 20px 20px 0;
  text-align: center;
  padding: 5px 0 0; }
.quote--blue .quote-wrapper {
  border: 1px solid rgba(3, 123, 172, 0.3); }
.quote--blue .quote-attribution {
  color: white;
  background: #037bac;
  border-top: 1px solid rgba(3, 123, 172, 0.3); }

.partners {
  background-color: #f5f6f6;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  min-height: 135px; }

.partner-list {
  padding: 0;
  font-size: 0;
  min-height: 135px;
  position: relative;
  *zoom: 1; }
  .partner-list:before, .partner-list:after {
    content: " ";
    display: table; }
  .partner-list:after {
    clear: both; }

.partner-list.fail:after {
  content: "No results found!";
  display: block;
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
  text-align: center;
  font-size: 25px; }

.partner-link {
  *zoom: 1; }
  .partner-link:before, .partner-link:after {
    content: " ";
    display: table; }
  .partner-link:after {
    clear: both; }
  .partner-link:hover img, .partner-link:active img {
    opacity: .6; }

.partner {
  list-style: none;
  border-top: 1px solid #f5f6f6;
  border-bottom: 1px solid #f5f6f6;
  margin: 0;
  padding: 10px 5px;
  text-align: center;
  width: 33%;
  display: inline-block; }
  @media screen and (min-width: 960px) {
    .partner {
      width: 12.5%; } }

.partner-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.mwfilter {
  padding: 20px 0; }

.filter-title {
  margin-right: 10px; }

#grid .mix {
  opacity: 0;
  display: none; }

.date-wrapper {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  max-width: 32.5em;
  padding: 30px 10px; }
  .date-wrapper:before, .date-wrapper:after {
    content: " ";
    display: table; }
  .date-wrapper:after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .date-wrapper {
      max-width: 60em; } }

.date-item {
  display: block;
  float: left;
  margin-right: 10.34483%;
  width: 100%;
  margin-bottom: 10px; }
  .date-item:last-child {
    margin-right: 0; }
  @media screen and (min-width: 960px) {
    .date-item {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 48.3871%; }
      .date-item:last-child {
        margin-right: 0; }
      .date-item:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 40px; } }
.date-circle {
  background: #dddddd;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 8px;
  color: #4c4c4c;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .date-circle:link, .date-circle:visited {
    color: #4c4c4c; }
  .date-circle:hover {
    opacity: .66; }

.date-month, .date-day, .date-year {
  display: block; }

.date-month {
  font-size: 20px;
  line-height: 20px; }

.date-day {
  font-size: 24px;
  line-height: 25px; }

.date-year {
  line-height: 20px;
  font-size: 14px; }

.date-content p {
  font-size: 14px; }

.date-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0; }

.date-link {
  display: block; }

